@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .product-heading {
    @apply text-xl font-semibold lg:text-3xl;
  }

  .product-description {
    @apply text-sm lg:text-base;
  }

  .product-price {
    @apply text-lg font-semibold lg:text-2xl;
  }

  .button {
    @apply w-full p-2 text-white bg-black border rounded-md hover:text-black hover:bg-white md:w-2/3;
  }

  .nav-heading {
    @apply p-1 text-lg rounded-md hover:bg-lightGrey lg:hover:bg-transparent;
  }

  .link-padding {
    @apply pl-1;
  }
}

.animate-slide-in-right {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.animate-slide-out-right {
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}

.animate-slide-show {
  animation: slideShow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 25s;
  filter: grayscale();
}

@keyframes slideShow {
  30% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-100%);
  }

  70% {
    transform: translateY(-100%);
  }

  90% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-200%);
  }
}

button > a {
  display: block;
}
