@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-in-right {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.animate-slide-out-right {
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}

.animate-fade-in {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.animate-fade-out {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
