@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-in-right {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.animate-slide-out-right {
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}

.animate-slide-show {
  animation: slideShow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 25s;
  filter: grayscale();
}

@keyframes slideShow {
  30% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-100%);
  }

  70% {
    transform: translateY(-100%);
  }

  90% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-200%);
  }
}

button > a {
  display: block;
}
